*{
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 125%;
    text-align: center;
}
body{
    background-color: #f4f4f4e0;
}
div{
    margin: 10px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    padding: 10px;
    color: white;
    font-weight: 1.5em;
    background-color: #901588;
    border-radius: 32px;
}
div p{
    padding: 16px;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 8px;
}

h2{
    text-align: center;
    font-size: 1.25em;
    padding: 12px;
}
img{
    text-align: center;
    align-self: center;
    align-content: center;
}
h1{
    font-size: 2em;
}
.triangle{
    width: 250;
    height: 250;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #f4f4f4e0;
    margin-left: 25%;
    margin-right: 25%;
}

.parallax {
    /* The image used */
    background-image: url('your-image-url.jpg');

    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 20px;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-image: url(NissanLady.JPG);
}