body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* Change to your preferred background color */
    z-index: 0;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hexagon {
    width: 100px;
    height: 100px;
    background-color: #f00; /* Change to your preferred hexagon color */
    position: absolute;
    animation: rotate-clockwise linear infinite;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.counterclockwise {
    animation-name: rotate-counterclockwise;
}

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
