*
{
    font-family: 'Raleway', sans-serif;
    background-color: #faf5f5;
}

body
{
    font-size: 18px;
}
h1
{
    text-align: center;
    font-weight: 2em;
    text-decoration: underline;
}
h2
{
  text-decoration: underline;
  text-align: center;
}
.content
{
    padding: 32px;
    padding-top: 0px;
    text-align: ;
}
.intros
{
    padding: 16px;
    text-align: center;
    font-size: 1.1em;
    background-color: #e9e5e5;
    border-radius: 16px;
    
}
.intro
{
    padding: 12px;
    text-align: center;
    font-size: 1.05em;
    background-color: #e9e5e5;
    border-radius: 16px;
    font-style: italic;
    
}
.intros p, .intro p
{
  background-color: inherit;
}
.content a
{
  color: black;
}
.intro u
{
  background-color: inherit;
}

/*Navbar*/
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
  }
  
  li 
  {
    float: left;
  }
  
  li a 
  {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Navbar container */
.navbar 
{
    overflow: hidden;
    background-color: gray;
    font-family: Arial;
    /* Position: -webkit-sticky;
    position: sticky;
    top: 8px; */
  }
  
  /* Links inside the navbar */
  .navbar a 
  {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: gray;
  }
  
  /* The dropdown container */
  .dropdown 
  {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn 
  {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: gray;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn 
  {
    background-color: #61a5c2;
  }
  .navbar
  {
    border-radius: 16px;
  }
  /* Dropdown content (hidden by default) */
  .dropdown-content 
  {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a 
  {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #f9f9f9;
  }
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover 
  {
    background-color: #a9d6e5;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content 
  {
    display: block;
    
  }